@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Play:wght@400;700&display=swap");
:root {
  --white: #ffffff;
  --black: #000000;
  --gray: #828282;
}

.navbar_container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.navbar_container .navbar_section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 100px 10px 100px;
  background-color: var(--black);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--white);
}
@media screen and (max-width: 880px) {
  .navbar_container .navbar_section1 {
    padding: 10px 18px 10px 18px;
    gap: 20px 0;
    flex-direction: column;
  }
}
@media screen and (max-width: 880px) {
  .navbar_container .navbar_section1 .follow_up_nav {
    display: none;
  }
}
.navbar_container .navbar_section1 > div {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}
@media screen and (max-width: 880px) {
  .navbar_container .navbar_section1 > div {
    width: 100%;
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
  }
}
.navbar_container .navbar_section1 > div > div {
  display: flex;
  align-items: center;
}
.navbar_container .navbar_section1 > div > div svg {
  cursor: pointer;
}
@media screen and (max-width: 880px) {
  .navbar_container .navbar_section1 > div > div svg {
    width: 22px;
    height: 22px;
  }
}
.navbar_container .navbar_section1 > div > div svg path {
  fill: var(--white);
  transition: fill 0.2s;
}
.navbar_container .navbar_section1 > div a {
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  display: flex;
  gap: 0 10px;
  align-items: center;
}
.navbar_container .navbar_section1 > div a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 880px) {
  .navbar_container .navbar_section1 .navbar_contacts {
    justify-content: space-between;
  }
}
.navbar_container .navbar_section1 .navbar_social_icons > div {
  background-color: rgba(255, 179, 0, 0.5);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
.navbar_container .navbar_section1 .navbar_social_icons > div:hover {
  background-color: rgba(255, 179, 0, 0.8);
}
.navbar_container .navbar_section1 .navbar_social_icons > div svg {
  height: 18px;
}
.navbar_container .navbar_section1 .navbar_social_icons > div svg path {
  fill: white;
}
@media screen and (max-width: 880px) {
  .navbar_container .navbar_section1 .navbar_social_icons {
    justify-content: center;
  }
}
.navbar_container .navbar_section2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5c4033;
  padding: 11px 100px 11px 100px;
}
.navbar_container .navbar_section2 .navbar_section2_mobile_menu {
  display: none;
  cursor: pointer;
}
@media screen and (max-width: 880px) {
  .navbar_container .navbar_section2 {
    padding: 10px 18px 7px 18px;
  }
  .navbar_container .navbar_section2 img {
    width: 50px;
    height: 50px;
  }
  .navbar_container .navbar_section2 .navbar_section2_desktop_menu {
    display: none;
  }
  .navbar_container .navbar_section2 .navbar_section2_mobile_menu {
    display: block;
  }
}
.navbar_container .navbar_section2 > div {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
}
.navbar_container .navbar_section2 > div > div {
  display: flex;
  align-items: center;
}
.navbar_container .navbar_section2 > div > div svg {
  cursor: pointer;
}
.navbar_container .navbar_section2 > div a {
  color: #ffb400;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0 5px;
  background-color: transparent;
  transition: background-color 0.2s;
  padding: 8px 16px;
  border-radius: 20px;
}
.navbar_container .navbar_section2 > div a:hover {
  background-color: #faf3e0;
  color: var(--black);
}
.navbar_container .navbar_section2 .navbar_section2_btns {
  gap: 20px;
  font-weight: bold;
}
@media screen and (max-width: 880px) {
  .navbar_container .navbar_section2 .navbar_section2_btns {
    display: none;
  }
}
.navbar_container .navbar_section2 .navbar_section2_btns .navbar_section2_btns_login {
  color: #e63946;
  cursor: pointer;
}
.navbar_container .navbar_section2 .navbar_section2_btns .navbar_section2_btns_started {
  color: #e63946;
  border: 2px solid #e63946;
  padding: 12px 24px;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s linear;
}
.navbar_container .navbar_section2 .navbar_section2_btns .navbar_section2_btns_started:hover {
  background-color: #e63946;
  color: var(--white);
}
.navbar_container .navbar_section2_list {
  display: flex;
  flex-direction: column;
  background-color: #5c4033;
  padding: 20px;
}
.navbar_container .navbar_section2_list > a {
  color: #faf3e0;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 10px;
  padding: 20px;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}
.section1_container {
  overflow: hidden;
}
.section1_container .inner_box_slider .slider_img {
  height: calc(100dvh - 141px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 880px) {
  .section1_container .inner_box_slider .slider_img {
    display: none;
  }
}
@keyframes textanimation {
  from {
    transform: translateX(-1000%) perspective(500px) rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) perspective(500px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes textanimation2 {
  from {
    transform: translateX(1000%) perspective(500px) rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) perspective(500px) rotateY(0deg);
    opacity: 1;
  }
}
@keyframes btnanimation {
  from {
    transform: translateY(1000%) perspective(500px) rotateY(90deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) perspective(500px) rotateY(0deg);
    opacity: 1;
  }
}
.section1_container .inner_box_slider .slider_img .slider_title {
  font-size: 70px;
  line-height: 100%;
  font-weight: 600;
  color: #faf3e0;
  width: 50%;
  text-align: center;
  animation: textanimation 0.5s ease-in-out;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transform: perspective(500px) translateZ(10px);
}
.section1_container .inner_box_slider .slider_img .slider_desc {
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  color: #ffb400;
  width: 500px;
  text-align: center;
  margin: 10px 0 0 0px;
  line-height: 1.8;
  animation: textanimation2 0.5s ease-in-out;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transform: perspective(500px) translateZ(10px);
}
.section1_container .inner_box_slider .slider_img .slider_btns_collection {
  display: flex;
  align-items: center;
  gap: 0 20px;
  margin: 20px 0 0 0;
  animation: btnanimation 0.5s ease-in-out;
  transform: perspective(500px) translateZ(10px);
}
.section1_container .inner_box_slider .slider_img .slider_btns_collection > div {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.section1_container .inner_box_slider .slider_img .slider_btns_collection .slider_btns1 {
  font-size: 18px;
  line-height: 100%;
  font-weight: 600;
  background-color: #e63946;
  padding: 20px 32px;
  color: #faf3e0;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.section1_container .inner_box_slider .slider_img .slider_btns_collection .slider_btns1:hover {
  background-color: #d62f39;
  color: #faf3e0;
}
.section1_container .inner_box_slider .slider_img .slider_btns_collection .slider_btns2 {
  font-size: 18px;
  line-height: 100%;
  font-weight: 600;
  border: 1px solid #faf3e0;
  padding: 19px 31px;
  color: #faf3e0;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
.section1_container .inner_box_slider .slider_img .slider_btns_collection .slider_btns2:hover {
  border: 1px solid transparent;
  background-color: #e63946;
  color: #faf3e0;
}
@media screen and (max-width: 880px) {
  .section1_container .inner_box_slider .slider_img {
    width: 100%;
    height: 200px;
  }
}
.section1_container .inner_box_slider .mobile_view_slider {
  display: none;
}
@media screen and (max-width: 880px) {
  .section1_container .inner_box_slider .mobile_view_slider {
    display: block;
    padding: 0 0 50px 0;
    height: calc(100dvh - 143px);
  }
}
.section1_container .inner_box_slider .mobile_view_slider img {
  width: 100%;
}
.section1_container .inner_box_slider .mobile_view_slider .slider_title {
  text-align: center;
  font-size: 21px;
  line-height: 100%;
  font-weight: 600;
  margin: 80px 0 40px 0;
  animation: textanimation 0.5s ease-in-out;
  padding: 0 30px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transform: perspective(500px) translateZ(10px);
}
.section1_container .inner_box_slider .mobile_view_slider .slider_desc {
  text-align: center;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  animation: textanimation2 0.5s ease-in-out;
  padding: 0 30px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
  transform: perspective(500px) translateZ(10px);
}
.section1_container .inner_box_slider .mobile_view_slider .slider_btns_collection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
  margin: 50px 0 0 0;
  animation: btnanimation 0.5s ease-in-out;
  transform: perspective(500px) translateZ(10px);
}
.section1_container .inner_box_slider .mobile_view_slider .slider_btns_collection > div {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}
.section1_container .inner_box_slider .mobile_view_slider .slider_btns_collection .slider_btns1 {
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  background-color: #e63946;
  padding: 20px 32px;
  color: #faf3e0;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.section1_container .inner_box_slider .mobile_view_slider .slider_btns_collection .slider_btns1:hover {
  background-color: #d62f39;
  color: #faf3e0;
}
.section1_container .inner_box_slider .mobile_view_slider .slider_btns_collection .slider_btns2 {
  font-size: 14px;
  line-height: 100%;
  font-weight: 600;
  padding: 19px 31px;
  color: #faf3e0;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: #e63946;
}
.section2_container {
  padding: 60px 100px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  background-color: white;
  z-index: 5;
}
@media screen and (max-width: 880px) {
  .section2_container {
    padding: 50px 20px;
    transform: translateY(20px);
  }
}
.section2_container .section2_title {
  font-size: 50px;
  line-height: 100%;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 880px) {
  .section2_container .section2_title {
    font-size: 32px;
    line-height: 100%;
    font-weight: 500;
  }
}
.section2_container .section2_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
  margin: 64px 0 0 0;
}
@media screen and (max-width: 880px) {
  .section2_container .section2_list {
    gap: 20px;
    margin: 24px 0 0 0;
    flex-direction: column;
  }
}
.section2_container .section2_list > div {
  background-color: #faf3e0;
  padding: 40px;
  border-radius: 10px;
  border: 1px solid #dbdfd0;
}
.section2_container .section2_list > div .section2_item_svg {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(51, 51, 51, 0.1);
  border-radius: 100px;
  margin: 0 auto 20px auto;
}
.section2_container .section2_list > div .section2_item_name {
  font-size: 24px;
  line-height: 100%;
  font-weight: 600;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
.section2_container .section2_list > div .section2_description {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  line-height: 1.5;
}
.section2_container .section2_list > div .section2_btn {
  color: #e63946;
  text-align: center;
  font-size: 16px;
  line-height: 100%;
  font-weight: 800;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.section3_container {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  padding: 0 100px 60px 100px;
  background-color: white;
  z-index: 5;
}
@media screen and (max-width: 880px) {
  .section3_container {
    padding: 0 20px 60px 20px;
  }
}
.section3_container .section3_title {
  font-size: 50px;
  line-height: 100%;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 880px) {
  .section3_container .section3_title {
    font-size: 32px;
    line-height: 100%;
    font-weight: 500;
  }
}
.section3_container .section3_desc {
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  text-align: center;
  margin: 30px 0 30px 0;
  color: #495460;
  line-height: 1.5;
}
@media screen and (max-width: 880px) {
  .section3_container .section3_desc {
    margin: 10px 0 20px 0;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
  }
}
.section3_container .section3_menu_list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 15px;
}
@media screen and (max-width: 880px) {
  .section3_container .section3_menu_list {
    display: none;
  }
}
.section3_container .section3_menu_list > div {
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  border: 1px solid #dbdfd0;
  transition: color 0.3s ease;
  padding: 12px 50px;
  cursor: pointer;
  border-radius: 100px;
  color: black;
  transition: all 0.3s linear;
}
.section3_container .section3_menu_list > div:hover {
  color: white;
  background-color: #e63946;
}
.section3_container .section3_list {
  display: flex;
  align-items: center;
  gap: 0 24px;
  margin: 30px 0 0 0;
}
@media screen and (max-width: 880px) {
  .section3_container .section3_list {
    flex-direction: column;
    gap: 24px;
  }
}
.section3_container .section3_list > div {
  border: 1px solid #dbdfd0;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}
.section3_container .section3_list > div img {
  width: 100%;
}
.section3_container .section3_list > div .section3_box_price {
  margin: 30px 0 15px 0;
  text-align: center;
  color: #e63946;
  font-size: 24px;
  line-height: 100%;
  font-weight: 600;
}
.section3_container .section3_list > div .section3_box_name {
  text-align: center;
  color: #2c2f24;
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  margin: 15px 0;
}
.section3_container .section3_list > div .section3_box_desc {
  text-align: center;
  color: #2c2f24;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  padding: 0 0 34px 0;
  width: 80%;
  margin: 0 auto 0 auto;
  line-height: 1.5;
}
.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.section4_container {
  background-color: #faf3e0;
  padding: 100px 100px 120px 100px;
  display: flex;
  align-items: center;
  gap: 0 100px;
}
@media screen and (max-width: 880px) {
  .section4_container {
    flex-direction: column;
    padding: 0 20px 50px 20px;
    overflow: hidden;
    gap: 60px;
  }
}
.section4_container .section4_left {
  position: relative;
  transform: translateX(-1000%) perspective(500px) rotateY(90deg);
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.section4_container .section4_left .about2_img {
  position: absolute;
  right: -40px;
  bottom: -40px;
}
@media screen and (max-width: 880px) {
  .section4_container .section4_left .about2_img {
    right: 40px;
  }
}
.section4_container .section4_left.do_animation {
  transform: translateX(0) perspective(500px) rotateY(0deg);
  opacity: 1;
}
.section4_container .section4_right {
  transform: translateX(1000%) perspective(500px) rotateY(90deg);
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.section4_container .section4_right .section4_right_title {
  font-size: 50px;
  line-height: 100%;
  font-weight: 500;
}
@media screen and (max-width: 880px) {
  .section4_container .section4_right .section4_right_title {
    font-size: 24px;
    line-height: 100%;
    font-weight: 500;
  }
}
.section4_container .section4_right .section4_right_desc1 {
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  padding: 30px 0;
  line-height: 1.5;
}
@media screen and (max-width: 880px) {
  .section4_container .section4_right .section4_right_desc1 {
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
  }
}
.section4_container .section4_right .section4_right_desc2 {
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  padding: 0 0 30px 0;
  line-height: 1.5;
  color: #414536;
}
@media screen and (max-width: 880px) {
  .section4_container .section4_right .section4_right_desc2 {
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
  }
}
.section4_container .section4_right .section4_right_btn {
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #e63946;
  color: #e63946;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  padding: 20px;
  border-radius: 100px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
@media screen and (max-width: 880px) {
  .section4_container .section4_right .section4_right_btn {
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
    margin: 0 auto;
  }
}
.section4_container .section4_right .section4_right_btn:hover {
  background-color: #e63946;
  color: white;
}
.section4_container .section4_right.do_animation2 {
  transform: translateX(0) perspective(500px) rotateY(0deg);
  opacity: 1;
}

.section5_container {
  background-color: #faf3e0;
  padding: 70px 100px 70px 100px;
  display: flex;
  align-items: center;
  gap: 0 100px;
}
@media screen and (max-width: 880px) {
  .section5_container {
    padding: 50px 20px 50px 20px;
    flex-direction: column-reverse;
  }
}
.section5_container .section5_left {
  position: relative;
  transform: translateX(-1000%) perspective(500px) rotateY(90deg);
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
@media screen and (max-width: 880px) {
  .section5_container .section5_left {
    margin: 20px 0 0 0;
  }
  .section5_container .section5_left img {
    width: 100%;
  }
}
.section5_container .section5_left.do_animation {
  transform: translateX(0) perspective(500px) rotateY(0deg);
  opacity: 1;
}
.section5_container .section5_right {
  transform: translateX(1000%) perspective(500px) rotateY(90deg);
  opacity: 0;
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.section5_container .section5_right .section5_right_title {
  font-size: 50px;
  line-height: 100%;
  font-weight: 500;
  margin: 20px 0;
}
@media screen and (max-width: 880px) {
  .section5_container .section5_right .section5_right_title {
    font-size: 24px;
    line-height: 100%;
    font-weight: 500;
  }
}
.section5_container .section5_right .section4_right_desc1 {
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  margin: 20px 0;
  line-height: 1.5;
}
@media screen and (max-width: 880px) {
  .section5_container .section5_right .section4_right_desc1 {
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
  }
}
.section5_container .section5_right .section4_right_points {
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}
@media screen and (max-width: 880px) {
  .section5_container .section5_right .section4_right_points {
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
  }
}
.section5_container .section5_right .section4_right_points .section4_right_points_svg {
  background-color: #ffb400;
  padding: 8px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section5_container .section5_right .section4_right_points .section4_right_points_svg svg {
  height: 30px;
  width: 30px;
}
.section5_container .section5_right.do_animation2 {
  transform: translateX(0) perspective(500px) rotateY(0deg);
  opacity: 1;
}

.section6_container {
  padding: 60px 100px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  background-color: white;
}
@media screen and (max-width: 880px) {
  .section6_container {
    padding: 40px 20px;
  }
}
.section6_container .section6_title {
  font-size: 50px;
  line-height: 100%;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 880px) {
  .section6_container .section6_title {
    font-size: 24px;
    line-height: 100%;
    font-weight: 500;
  }
}
.section6_container .section6_lists {
  display: flex;
  gap: 0 20px;
  margin: 30px 0 0 0;
}
@media screen and (max-width: 880px) {
  .section6_container .section6_lists {
    gap: 20px;
    flex-direction: column;
  }
}
.section6_container .section6_lists .service_card img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 2px black;
}
.section6_container .section6_lists .service_card .service_card_title {
  font-size: 20px;
  line-height: 100%;
  font-weight: 600;
  margin: 30px 0 15px 0;
}
.section6_container .section6_lists .service_card .service_card_desc {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: #414536;
}
.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.section7_container {
  background-color: #faf3e0;
  padding: 80px 100px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
@media screen and (max-width: 880px) {
  .section7_container {
    padding: 30px 20px;
  }
}
.section7_container .section7_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: 0 0 60px 0;
}
.section7_container .section7_top .section7_title {
  font-size: 50px;
  line-height: 100%;
  font-weight: 500;
}
@media screen and (max-width: 880px) {
  .section7_container .section7_top .section7_title {
    font-size: 21px;
    line-height: 100%;
    font-weight: 500;
  }
}
.section7_container .section7_top .section7_btn {
  background-color: #e63946;
  border-radius: 100px;
  padding: 20px 32px;
  color: #faf3e0;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  cursor: pointer;
}
@media screen and (max-width: 880px) {
  .section7_container .section7_top .section7_btn {
    padding: 12px 22px;
    font-size: 14px;
    line-height: 100%;
    font-weight: 400;
  }
}
.section7_container .section7_blogs {
  display: flex;
  gap: 0 20px;
}
@media screen and (max-width: 880px) {
  .section7_container .section7_blogs {
    flex-direction: column;
    gap: 20px;
  }
}
.section7_container .section7_blogs .section7_blog_left {
  background-color: white;
  width: 50%;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
}
@media screen and (max-width: 880px) {
  .section7_container .section7_blogs .section7_blog_left {
    width: 100%;
  }
}
.section7_container .section7_blogs .section7_blog_left img {
  width: 100%;
}
.section7_container .section7_blogs .section7_blog_left .section7_blog_left_box {
  padding: 20px 20px 50px 20px;
}
.section7_container .section7_blogs .section7_blog_left .section7_blog_left_box .section7_blog_span {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
  color: #737865;
}
.section7_container .section7_blogs .section7_blog_left .section7_blog_left_box .section7_blog_title {
  font-size: 20px;
  line-height: 100%;
  font-weight: 400;
  margin: 15px 0;
}
.section7_container .section7_blogs .section7_blog_left .section7_blog_left_box .section7_blog_desc {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}
.section7_container .section7_blogs .section7_blogs_right {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  gap: 20px;
}
@media screen and (max-width: 880px) {
  .section7_container .section7_blogs .section7_blogs_right {
    width: 100%;
    flex-direction: column;
  }
}
.section7_container .section7_blogs .section7_blogs_right .sec7_blogs_box {
  background-color: white;
  width: calc(50% - 10px);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
}
@media screen and (max-width: 880px) {
  .section7_container .section7_blogs .section7_blogs_right .sec7_blogs_box {
    width: 100%;
  }
}
.section7_container .section7_blogs .section7_blogs_right .sec7_blogs_box img {
  width: 100%;
}
.section7_container .section7_blogs .section7_blogs_right .sec7_blogs_box .sec7_blogs_date {
  font-size: 14px;
  line-height: 100%;
  font-weight: 400;
  color: #737865;
  padding: 20px;
}
.section7_container .section7_blogs .section7_blogs_right .sec7_blogs_box .sec7_blogs_name {
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  padding: 0 0 0 20px;
}
@media screen and (max-width: 880px) {
  .section7_container .section7_blogs .section7_blogs_right .sec7_blogs_box .sec7_blogs_name {
    padding: 0 0 20px 20px;
  }
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.section8_container {
  padding: 100px 100px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
@media screen and (max-width: 880px) {
  .section8_container {
    padding: 40px 20px;
  }
}
.section8_container .section8_title {
  font-size: 50px;
  line-height: 100%;
  font-weight: 500;
  text-align: center;
  margin: 0 0 60px 0;
}
@media screen and (max-width: 880px) {
  .section8_container .section8_title {
    font-size: 21px;
    line-height: 100%;
    font-weight: 500;
    margin: 0 0 30px 0;
  }
}
.section8_container .section8_list {
  display: flex;
  gap: 0 20px;
}
@media screen and (max-width: 880px) {
  .section8_container .section8_list {
    flex-direction: column;
    gap: 20px;
  }
}
.section8_container .section8_list > div {
  background-color: #faf3e0;
  padding: 45px 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
}
.section8_container .section8_list > div .section8_name {
  font-size: 24px;
  line-height: 100%;
  font-weight: 600;
  color: #e63946;
}
.section8_container .section8_list > div .section8_desc {
  font-size: 18px;
  line-height: 100%;
  font-weight: 400;
  padding: 24px 0;
  color: #414536;
  line-height: 1.5;
}
.section8_container .section8_list > div .section8_line {
  background-color: #dbdfd0;
  height: 1px;
  width: 100%;
  margin: 0 0 20px 0;
}
.section8_container .section8_list > div .section8_profile {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.section8_container .section8_list > div .section8_profile .section8_profile_name {
  font-size: 16px;
  line-height: 100%;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.section8_container .section8_list > div .section8_profile .section8_profile_desc {
  color: #414536;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.fo_container {
  background-color: #faf3e0;
}
.fo_container .footer_container {
  background-color: #5c4033;
  border-radius: 500px 500px 0 0;
  padding: 100px 100px 20px 100px;
  overflow: hidden;
  position: relative;
}
@media screen and (max-width: 880px) {
  .fo_container .footer_container {
    border-radius: 100px 100px 0 0;
    padding: 50px 20px 20px 20px;
  }
}
.fo_container .footer_container .burger {
  position: absolute;
  right: -400px;
  top: -40px;
}
@media screen and (max-width: 880px) {
  .fo_container .footer_container .burger {
    display: none;
  }
}
.fo_container .footer_container .footer_title {
  text-align: center;
  font-size: 50px;
  line-height: 100%;
  font-weight: 500;
  color: #faf3e0;
  font-family: "Inknut Antiqua", serif;
  line-height: 2;
}
@media screen and (max-width: 880px) {
  .fo_container .footer_container .footer_title {
    font-size: 21px;
    line-height: 100%;
    font-weight: 500;
  }
}
.fo_container .footer_container .footer_img {
  text-align: center;
  margin: 40px 0;
}
.fo_container .footer_container .footer_list {
  display: flex;
  gap: 0 100px;
  color: #faf3e0;
}
@media screen and (max-width: 880px) {
  .fo_container .footer_container .footer_list {
    gap: 40px;
    flex-direction: column;
    justify-content: center;
  }
}
.fo_container .footer_container .footer_list .footer_abou {
  font-size: 24px;
  line-height: 100%;
  font-weight: 500;
  margin: 0 0 20px 0;
}
@media screen and (max-width: 880px) {
  .fo_container .footer_container .footer_list .footer_abou {
    font-size: 18px;
    line-height: 100%;
    font-weight: 500;
  }
}
.fo_container .footer_container .footer_list .footer_abou_desc {
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}
.fo_container .footer_container .footer_list .foot_links :first-child {
  font-size: 24px;
  line-height: 100%;
  font-weight: 500;
  margin: 0 0 20px 0;
}
.fo_container .footer_container .footer_list .foot_links > div {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 100%;
  font-weight: 400;
}
.fo_container .footer_container .footer_list .foot_address {
  margin: 0 0 0 auto;
}
@media screen and (max-width: 880px) {
  .fo_container .footer_container .footer_list .foot_address {
    margin: 0;
  }
}
.fo_container .footer_container .footer_list .foot_address .foot_address_title {
  font-size: 24px;
  line-height: 100%;
  font-weight: 500;
  margin: 0 0 20px 0;
}
.fo_container .footer_container .footer_list .foot_address .foot_address_desc {
  line-height: 1.2;
}
.fo_container .footer_container .foot_break {
  height: 1px;
  width: 100%;
  background-color: #faf3e0;
  margin: 50px 0 20px 0;
}
.fo_container .footer_container .foot_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #faf3e0;
}
@media screen and (max-width: 880px) {
  .fo_container .footer_container .foot_social {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.fo_container .footer_container .foot_social > div {
  display: flex;
  gap: 0 40px;
}
.fo_container .footer_container .foot_social > div svg {
  cursor: pointer;
}
.fo_container .footer_container .foot_social > div svg path {
  fill: #faf3e0;
}

.section10_container {
  padding: 100px;
  background-color: #faf3e0;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
@media screen and (max-width: 880px) {
  .section10_container {
    padding: 30px 20px;
  }
}
.section10_container .section10_title {
  font-size: 50px;
  line-height: 100%;
  font-weight: 500;
  text-align: center;
}
@media screen and (max-width: 880px) {
  .section10_container .section10_title {
    font-size: 21px;
    line-height: 100%;
    font-weight: 500;
  }
}
.section10_container .section10_desc {
  font-size: 21px;
  line-height: 100%;
  font-weight: 400;
  color: #767a6a;
  text-align: center;
  width: 70%;
  margin: 20px auto 50px auto;
  line-height: 1.2;
}
@media screen and (max-width: 880px) {
  .section10_container .section10_desc {
    width: 100%;
    font-size: 18px;
    line-height: 100%;
    font-weight: 400;
  }
}
.section10_container .accordian {
  margin: 0 auto;
}
.section10_container .accordian .accordian_item {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background: white;
}
.section10_container .accordian .accordian_item.active {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.section10_container .accordian .accordian_item .accordian_button {
  width: 100%;
  background: #fff;
  padding: 15px;
  font-size: 18px;
  line-height: 100%;
  font-weight: 500;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background 0.3s ease;
}
.section10_container .accordian .accordian_item .accordian_button:hover {
  background: #f1f1f1;
}
.section10_container .accordian .accordian_item .accordian_content {
  padding: 15px;
  background: #f9f9f9;
  font-size: 16px;
  color: #555;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-x: hidden;
}

*,
*::after,
*::before {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-family: "Play", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.top_space {
  margin: 141px 0 0 0;
}/*# sourceMappingURL=main.css.map */